/*@import url('https://fonts.cdnfonts.com/css/apple-chancery');*/

body {
	background: black;
}

* {
	border: 1px ;*/dashed red;*/
	min-height: 10px;
}

p {
	color: blue;
	text-align: justify;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	font-family: 'Bradley Hand', cursive;
}

.postcard-header img {
	display: flex;
	justify-content: space-between;
	width: 50px;
	height: 50px;
	padding: 10px;
	
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: x;
}

.body-left,
.body-right {
	padding: 10px;
	
}

input {
	border: none;
	border-bottom: 1px solid black;
	font-family: 'Bradley Hand', cursive;
}

.postcard-footer {
	background-color: white;
	width: 400px;
	height: 100px;
	margin: auto;
	text-align: center;
}

button {
	background-color: darkgray;
	padding: 5px;
}
